<% content_for :javascript do -%>
  <script type="text/javascript">
    var map;

    window.onload = function() {
      initializeMap();

      setTimeout("placeStation()", 1000);
    }

    function placeStation() {
      codeLatLng(<%= "{'lat':#{@station.latitude}, 'lng':#{@station.longitude}, 'name':'#{@station.name}'}" %>);
    }

    function codeLatLng(input) {
      var latlng = new google.maps.LatLng(input.lat, input.lng);
      var marker = new google.maps.Marker({
          position: latlng, 
          map: map
      });
      var infowindow = new google.maps.InfoWindow();
      infowindow.setContent("Estacion:<br/>" + input.name);
      infowindow.open(map, marker);
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
      map.setCenter(latlng);
      map.setZoom(12);
    }
  </script>
<% end -%>
<div class="box">
  <%= form_for :user, :url => search_path, :method => :get do |form| %>
    <%= form.text_field :zip_code, :class => "zip_code", :value => params[:user][:zip_code] %>
    <%= form.submit "Buscar", :class => "submit" %>
    <%= form.label :zip_code, "Zona: Ciudad de Las Palmas de Gran Canaria" %>
  <% end  %>
  <div id="map_canvas" class="map"></div>
  <div class="legend small">
    <span>Leyenda del mapa:</span>
    <ul>
      <li><img src="/assets/legend_good.png" alt="Bueno" /><br />Bueno</li>
      <li><img src="/assets/legend_regular.png" alt="Regular" /><br />Regular</li>
      <li><img src="/assets/legend_bad.png" alt="Malo" /><br />Malo</li>
      <li><img src="/assets/legend_off.png" alt="No Disponible" /><br />No Disponible</li>
    </ul>
  </div>
  <div class="status <%= @station.air_status %>">
    La calidad del aire en esta zona es <span><%= air_status_string(@station.air_status).upcase %></span><br/>
    Se recomienda no correr porque puede ser perjudicial para la salud
  </div>
  <%= form_for :user, :url => search_path, :method => :get, :html => {:class => "subscribe"} do |form| %>
    <%= form.label :email, "Danos tu email y te notificaremos cuando el aire de esta zona esté contaminado", :class => "email" %>
    <%= form.text_field :email, :class => "email" %>
  <% end  %>
  <div class="share">
    <div class="share_icons">
      <a href="#" class="facebook">Compartir en Facebook</a>
      <a href="#" class="twitter">Compartir en Twitter</a>
    </div>
    <div class="share_text">Tu que te preocupas por el medio ambiente de tu zona comparte esta noticia<br/>Dar a conocer es el primer paso</div>
  </div>
  <br class="clear"/>
</div>
